<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_funding.mapper.AdminMapper">

	<resultMap type="Admin" id="resAdmin">
		<id property="adminNo" column="AdminNo" />
		<result property="adminId" column="AdminId" />
		<result property="adminPw" column="AdminPw" />
		<result property="adminName" column="AdminName" />
		<result property="adminTel" column="AdminTel" />
	</resultMap>

	<sql id="selectSql">
		select AdminNo, AdminId, AdminPw, AdminName, AdminTel
		  from Admin	
	</sql>

	<select id="selectAdminAll" resultMap="resAdmin">
		<include refid="selectSql" />	
	</select>

	<select id="selectAdminbyNo" resultMap="resAdmin">
		<include refid="selectSql" />
		where adminNo = #{adminNo}	
	</select>

	<select id="selectAdminbyId" resultMap="resAdmin">
		<include refid="selectSql" />
		where adminId = #{adminId}	
	</select>

	<select id="selectAdminbyName" resultMap="resAdmin">
		<include refid="selectSql" />
		where adminName = #{adminName}	
	</select>

	<select id="selectAdminbylogin" parameterType="Admin" resultMap="resAdmin">
		<include refid="selectSql" />
		where adminId = #{adminId} and adminPw = PASSWORD(#{adminPw })
	</select>
	
	<insert id="insertAdmin" parameterType="Admin">
		insert
		  into admin( AdminNo, AdminId, AdminPw, AdminName, AdminTel )
		values(#{adminNo}, #{adminId}, PASSWORD(#{adminPw}), #{adminName}, #{adminTel})			
	</insert>
	
	<update id="updateAdmin">
		update admin
		   set AdminPw = PASSWORD(#{adminPw}), AdminName = #{adminName}, AdminTel = #{adminTel}
		 where AdminId = #{adminId}
	</update>
	
	<delete id="deleteAdmin">
		delete
		  from admin
		 where adminNo = #{adminNo}	
	</delete>

</mapper>