@charset "UTF-8";
#top_img{
	float: left;
	width: 200px;
	height: 250px;
}
#top_context{
	height:190px;
	width: 300px; 
	/* btns랑 같이 margin-left주기 */
	margin-left: 300px;	
	
}
#top_btns{
	margin-left: 300px;	
}
.btns{
	 width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #ff7675;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
